<div class="modal-header py-2">
  <h5 class="modal-title">Redimensionar Canvas</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
  <form class="d-flex flex-column gap-3">

    <!-- Nome e Extensão -->
    <div class="row">
      <div class="col">
        <label for="drawName">Nome:</label>
        <input
          type="text"
          id="drawName"
          class="form-control form-control-sm"
          [(ngModel)]="picture.name"
          name="drawName"
        />
      </div>
      <div class="col-4">
        <label for="format">Extensão:</label>
        <select
          id="format"
          class="form-select form-select-sm"
          [(ngModel)]="picture.format"
          (ngModelChange)="onChangeFormat()"
          name="format"
        >
          <option value="png">PNG</option>
          <option value="jpeg">JPEG</option>
        </select>
      </div>
    </div>

    <!-- Largura e Altura -->
    <div class="row">
      <div class="col">
        <label for="canvasWidth">Largura:</label>
        <input
          type="number"
          id="canvasWidth"
          class="form-control form-control-sm"
          [(ngModel)]="picture.width"
          name="canvasWidth"
        />
      </div>
      <div class="col">
        <label for="canvasHeight">Altura:</label>
        <input
          type="number"
          id="canvasHeight"
          class="form-control form-control-sm"
          [(ngModel)]="picture.height"
          name="canvasHeight"
        />
      </div>
    </div>

    <!-- Tipo de fundo -->
    <div class="form-group">
      <label for="background">Fundo:</label>
      <select
        id="background"
        class="form-select form-select-sm"
        [(ngModel)]="picture.background"
        name="background"
      >
        <option value="white">Branco</option>
        @if (picture.format === 'png') {
          <option value="transparent">Transparente</option>
        }
      </select>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary btn-sm" (click)="closeModal()">Cancelar</button>
  <button class="btn btn-primary btn-sm" (click)="create()">
    <fa-icon [icon]="faSave"></fa-icon> Salvar
  </button>
</div>
