<div class="top-menu">
  <button class="btn btn-opt" (click)="saveDrawing()" [ngbTooltip]="'Salvar'">
    <fa-icon [icon]="faSave"></fa-icon>
  </button>

  <div class="container-slider-tools">
    <label class="form-label me-2 mb-0">Tamanho:</label>
    <input
      type="range"
      min="1"
      max="50"
      [(ngModel)]="lineWidth"
      class="form-range"
      style="width: 150px;"
    />
    <span class="ms-1">{{ lineWidth }} px</span>
  </div>
</div>

<div class="container-draw">
  <div class="container-tools p-1">
    <button class="btn btn-tool" 
      [class.active]="tool === 'pencil'"
      [ngbTooltip]="'Pincel'" 
      (click)="selectTool(Tool.Pencil)">
      <fa-icon [icon]="faPencil"></fa-icon>
    </button>
    <button class="btn btn-tool" 
      [class.active]="tool === 'eraser'"
      [ngbTooltip]="'Borracha'" 
      (click)="selectTool(Tool.Eraser)">
      <fa-icon [icon]="faEraser"></fa-icon>
    </button>
    <input type="color" (change)="changeColor($event)" />
  </div>
  <div class="my-canva p-1">
    @if (isBrowser) {
      <canvas #canvas id="myCanva" width="800" height="600"
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="stopDrawing()"
        (mouseleave)="stopDrawing()">
      </canvas>
    }
  </div>
</div>
