.top-menu {
    display: flex;
    align-items: center;
    background-color: #555;
    color: white;
    width: 100%;
    padding: 5px 10px;
}

.container-draw {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 45px);
    padding: 10px;
    background: #333;
    .container-tools {
      display: flex;
      flex-direction: column;
    }
}

.container-slider-tools {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-opt {
  cursor: pointer;
  border: 1px solid #333;
  color: white;
  &:hover {
    background-color: #a3cedf;
  }
}

.btn-tool {
  cursor: pointer;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid #ccc;
  &:hover {
    background-color: #a3cedf;
  }
  &.active {
    background-color: #a3cedf;
  }
}

.my-canva {
  width: calc(100% - 400px);
  height: calc(100vh - 100px);
  overflow: auto;
  position: relative;
  background-color: transparent;
  border-radius: 5px;
}

.back-square {
  background-color: #1e1e1e;
  background-image: 
    linear-gradient(45deg, #2a2a2a 25%, transparent 25%),
    linear-gradient(-45deg, #2a2a2a 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #2a2a2a 75%),
    linear-gradient(-45deg, transparent 75%, #2a2a2a 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

::ng-deep .absolute-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  border: 1px solid black;
}

.tools-right {
  margin-left: auto;
  padding: 10px;
  & .tools-box {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #444;
    margin-bottom: 10px;
    & .tbox-tittle {
      background-color: #555;
      border-radius: 5px 5px 0px 0;
      color: white;
      padding: 5px;
      display: flex;
      align-items: center;
    }
    & .canvas-preview {
      padding: 5px;
    }
  }
}

.layer-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  background-color: #333;
  color: white;
  &.active {
    background-color: #222;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #666666 #333333;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #333333;
}

*::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 10px;
  border: 3px solid #ffffff;
}