.top-menu {
    display: flex;
    align-items: center;
    background-color: #ccc;
    width: 100%;
    padding: 5px 10px;
}

.container-draw {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    .container-tools {
      display: flex;
      flex-direction: column;
    }
}

.container-slider-tools {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-opt {
  cursor: pointer;
  border: 1px solid black;
  &:hover {
    background-color: #a3cedf;
  }
}

.btn-tool {
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  &:hover {
    background-color: #a3cedf;
  }
  &.active {
    background-color: #a3cedf;
  }
}

#myCanva {
    border: 1px solid black;
}
