<div>
  <app-navbar
    (openNewModal)="openResizeModal(newPictureModal)"
    (fileUpload)="handleImageUpload($event)"
    (save)="saveDrawing()"
    (openResizeModal)="openResizeModal(resizeModal)"
  ></app-navbar>

  <app-config-tools
    [tool]="tool"
    [Tool]="Tool"
    [BrushType]="BrushType"
    [brushType]="brushType"
    [lineWidth]="lineWidth"
    [opacity]="opacity"
    [tolerance]="tolerance"
    [zoomType]="zoomType"
    [zoom]="zoom"
    (brushTypeChange)="brushType = $event"
    (lineWidthChange)="lineWidth = $event"
    (opacityChange)="opacity = $event"
    (toleranceChange)="tolerance = $event"
    (zoomTypeChange)="zoomType = $event"
    (zoomChange)="zoom = $event; updateCanvasTransforms()"
  />

  <div class="footer-menu">
    <div class="container-slider-tools ms-auto">
      <label class="form-label me-2 mb-0">Zoom: </label>
      <input
        type="range"
        min="0.1"
        max="4"
        step="0.1"
        [(ngModel)]="zoom"
        class="form-range"
        style="width: 150px;"
        (ngModelChange)="updateCanvasTransforms()"
      />
      <span class="ms-1">{{ (zoom * 100) | number: '1.0-0' }}%</span>
    </div>
  </div>

  <div class="container-draw">
    <div class="container-tools p-1">
      <button class="btn btn-tool" 
        [class.active]="tool === Tool.Pencil"
        [ngbTooltip]="'Pincel (B)'" 
        placement="end"
        (click)="selectTool(Tool.Pencil)">
        <fa-icon [icon]="faPencil"></fa-icon>
      </button>
      <button class="btn btn-tool" 
        [class.active]="tool === Tool.Eraser"
        [ngbTooltip]="'Borracha (E)'" 
        placement="end"
        (click)="selectTool(Tool.Eraser)">
        <fa-icon [icon]="faEraser"></fa-icon>
      </button>
      <button class="btn btn-tool"
        [class.active]="tool === Tool.Bucket" 
        [ngbTooltip]="'Balde de tinta (G)'" 
        placement="end"
        (click)="selectTool(Tool.Bucket)">
        <fa-icon [icon]="faFillDrip"></fa-icon>
      </button>
      <button class="btn btn-tool"
        [class.active]="tool === Tool.Eyedropper" 
        [ngbTooltip]="'Conta-gotas (I)'" 
        placement="end"
        (click)="selectTool(Tool.Eyedropper)">
        <fa-icon [icon]="faEyeDropper"></fa-icon>
      </button>
      <button class="btn btn-tool"
        [class.active]="tool === Tool.Crop" 
        [ngbTooltip]="'Cortar (C)'" 
        placement="end"
        (click)="selectTool(Tool.Crop)">
        <fa-icon [icon]="faCrop"></fa-icon>
      </button>
      <button class="btn btn-tool"
        [class.active]="tool === Tool.Zoom" 
        [ngbTooltip]="'Zoom (Z)'" 
        placement="end"
        (click)="selectTool(Tool.Zoom)">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <div class="color-swatches">
        <div
          class="color-swatch primary"
          [class.active]="activeColorSlot === 'primary'"
          [style.background]="primaryColor"
          (click)="activeColorSlot = 'primary'"
        ></div>

        <div
          class="color-swatch secondary"
          [class.active]="activeColorSlot === 'secondary'"
          [style.background]="secondaryColor"
          (click)="activeColorSlot = 'secondary'"
        ></div>

        <button class="btn-swap" (click)="swapColors()" [ngbTooltip]="'Swap Colors (X)'" placement="end">
          <fa-icon [icon]="faRotateLeft"></fa-icon>
        </button>
      </div>
    </div>

    <div #canvasContainer class="container-canva">
       <div
        #myCanva
        class="my-canva"
        (pointerdown)="startDrawing($event)"
        (pointermove)="draw($event); updateCursor($event)"
        (pointerup)="stopDrawing()"
        (pointerleave)="hideCursor()"
        (contextmenu)="callContextMenu($event)"
        [style.cursor]="getToolCursor()"
      >
        <div
          class="back-square"
          [style.width.px]="picture.width"
          [style.height.px]="picture.height"
        ></div>

        <!-- renderiza os canvas pela ordem da array -->
        <canvas
          *ngFor="let layer of layers"
          class="absolute-canvas"
          [hidden]="!layer.visible"
          [attr.data-id]="layer.id"
          width="{{ picture.width }}"
          height="{{ picture.height }}"
          [style.pointer-events]="layer.id === activeLayerId ? 'auto' : 'none'"
          #canvasRefs
        ></canvas>
      </div>

      <div
        class="brush-preview"
        [ngStyle]="{
          width: (lineWidth * zoom) + 'px',
          height: (lineWidth * zoom) + 'px',
          top: cursorY + 'px',
          left: cursorX + 'px',
          display: useCursorBrush() ? 'block' : 'none',
          borderColor: tool === Tool.Eraser ? '#f00' : '#fff'
        }"
      ></div>

      <div
        class="crop-preview"
        [ngStyle]="{
          width: ((endX - startX) * zoom) + 'px',
          height: ((endY - startY) * zoom) + 'px',
          top: startY + 'px',
          left: startX + 'px',
          display: isCropping ? 'block' : 'none',
        }"
      ></div>
    </div>
    
    <div class="tools-right">
      <div class="tools-box">
        <div class="tbox-tittle" (click)="toggleBoxPreview()">Preview</div>
        @if (openBoxPreview) {
          <div class="canvas-preview">
            <div class="back-square">
              <canvas #previewCanvas></canvas>
            </div>
          </div>
        }
      </div>

      <div class="tools-box">
        <div class="tbox-tittle" (click)="toggleBoxColor()">Cor</div>
        @if (openBoxColor) {
          <app-color-picker 
            [activeColorSlot]="activeColorSlot" 
            [primaryColor]="primaryColor" 
            [secondaryColor]="secondaryColor"
            (updateActiveColor)="setActiveColor($event)"
            (colorSelected)="onColorChange($event)">
          </app-color-picker>
        }
      </div>

      <app-layer-panel
        [layers]="layers"
        [activeLayerId]="activeLayerId"
        (onCreateLayer)="createLayer()"
        (onRemoveLayer)="removeLayer($event)"
        (onDuplicateLayer)="duplicateLayer()"
        (onToggleLayer)="toggleLayer($event)"
        (onSetActiveLayer)="setActiveLayer($event)"
        (layersReordered)="onLayersReordered($event)">
      </app-layer-panel>
    </div>
  </div>

  <ng-template #newPictureModal let-modal>
    <new-picture-component
      (createNewPicture)="createNewPicture($event)"
      (close)="modal.dismiss()">
    </new-picture-component>
  </ng-template>

  <ng-template #resizeModal let-modal>
    <config-component [picture]="picture" 
      (resizeCanvas)="applyResize($event)"
      (close)="modal.dismiss()">
    </config-component>
  </ng-template>

</div>