<div class="top-menu">
  <div ngbDropdown class="dropdown me-2">
    <button class="btn btn-opt btn-sm dropdown-toggle" ngbDropdownToggle>
      <fa-icon [icon]="faFolder"></fa-icon> Arquivo
    </button>
    <div ngbDropdownMenu>
      <button class="dropdown-item" (click)="openResizeModal(newPictureModal)">
        <fa-icon [icon]="faFile"></fa-icon> Novo
      </button>

      <label class="dropdown-item">
        <fa-icon [icon]="faUpload"></fa-icon> Abrir
        <input
          type="file"
          accept="image/*"
          (change)="handleImageUpload($event)"
          hidden
        />
      </label>

      <button class="dropdown-item" (click)="saveDrawing()">
        <fa-icon [icon]="faSave"></fa-icon> Salvar
      </button>

      <button class="dropdown-item" (click)="openResizeModal(resizeModal)">
        <fa-icon [icon]="faCogs"></fa-icon> Propriedades
      </button>
    </div>
  </div>
</div>

<div class="top-tools">
  <div class="tool-descri">
    @if (tool == Tool.Pencil) {
      <fa-icon [icon]="faPencil"></fa-icon>
      <b>Pincel</b>
    } @else if (tool == Tool.Eraser) {
      <fa-icon [icon]="faEraser"></fa-icon>
      <b>Borracha</b>
    } @else if (tool == Tool.Eyedropper) {
      <fa-icon [icon]="faEyeDropper"></fa-icon>
      <b>Conta-gotas</b>
    } @else if (tool == Tool.Bucket) {
      <fa-icon [icon]="faBucket"></fa-icon>
      <b>Balde de tinta</b>
    }
  </div>
  <div class="container-slider-tools" *ngIf="useCursorBrush()">
    <label class="form-label me-2 mb-0">Tamanho:</label>
    <input
      type="range"
      min="1"
      max="50"
      [(ngModel)]="lineWidth"
      class="form-range"
      style="width: 150px;"
    />
    <span class="ms-1">{{ lineWidth }} px</span>
  </div>
  <div class="container-slider-tools" *ngIf="tool == Tool.Bucket">
    <label class="form-label me-2 mb-0">Tolerância:</label>
    <input
      type="range"
      min="1"
      max="50"
      [(ngModel)]="tolerance"
      class="form-range"
      style="width: 150px;"
    />
    <span class="ms-1">{{ tolerance }} px</span>
  </div>
</div>

<div class="footer-menu">
  <div class="container-slider-tools ms-auto">
    <label class="form-label me-2 mb-0">Zoom: </label>
    <input
      type="range"
      min="1"
      max="200"
      [(ngModel)]="zoom"
      class="form-range"
      style="width: 150px;"
    />
    <span class="ms-1">{{ zoom }}%</span>
  </div>
</div>

<div class="container-draw">
  <div class="container-tools p-1">
    <button class="btn btn-tool" 
      [class.active]="tool === Tool.Pencil"
      [ngbTooltip]="'Pincel'" 
      placement="end"
      (click)="selectTool(Tool.Pencil)">
      <fa-icon [icon]="faPencil"></fa-icon>
    </button>
    <button class="btn btn-tool" 
      [class.active]="tool === Tool.Eraser"
      [ngbTooltip]="'Borracha'" 
      placement="end"
      (click)="selectTool(Tool.Eraser)">
      <fa-icon [icon]="faEraser"></fa-icon>
    </button>
    <button class="btn btn-tool"
      [class.active]="tool === Tool.Bucket" 
      [ngbTooltip]="'Balde de tinta'" 
      placement="end"
      (click)="selectTool(Tool.Bucket)">
      <fa-icon [icon]="faBucket"></fa-icon>
    </button>
    <button class="btn btn-tool"
      [class.active]="tool === Tool.Eyedropper" 
      [ngbTooltip]="'Conta-gotas'" 
      placement="end"
      (click)="selectTool(Tool.Eyedropper)">
      <fa-icon [icon]="faEyeDropper"></fa-icon>
    </button>
    <input type="color" [(ngModel)]="currentColor" (change)="changeColor($event)" />
  </div>

  <div class="container-canva">
    <div #canvasContainer class="my-canva" (mousedown)="startDrawing($event)"
      (mousemove)="draw($event); updateCursor($event)"
      (mouseup)="stopDrawing()"
      (mouseleave)="stopDrawing(); hideCursor()"
      [style.cursor]="useCursorBrush() ? 'none' : 'default'">
      <div class="back-square" [style.width.px]="picture.width" [style.height.px]="picture.height"></div>
    </div>
  
    <div
      class="brush-preview"
      [ngStyle]="{
        width: lineWidth + 'px',
        height: lineWidth + 'px',
        top: cursorY + 'px',
        left: cursorX + 'px',
        display: useCursorBrush() ? 'block' : 'none',
        borderColor: tool === Tool.Eraser ? '#f00' : '#fff'
      }"
    ></div>
  </div>
  
  <div class="tools-right">
    <div class="tools-box">
      <div class="tbox-tittle">Preview</div>
      <div class="canvas-preview back-square">
        <canvas #previewCanvas></canvas>
      </div>
    </div>

    <div class="tools-box">
      <div class="tbox-tittle">
        Camadas 
        <button class="btn btn-sm ms-auto" (click)="createLayer()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
      @for (layer of layers; track $index; let i = $index) {
        <div class="layer-item"
            [class.active]="layer.id == activeLayerId" 
            (click)="setActiveLayer(layer.id)" >
          {{ layer.name }}
          <button class="btn btn-sm ms-auto" (click)="removeLayer(layer.id)">🗑️</button>
          <button class="btn btn-sm" (click)="toggleLayer(layer.id)">
            {{ layer.visible ? '👁️' : '🚫' }}
          </button>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #newPictureModal let-modal>
  <new-picture-component
    (createNewPicture)="createNewPicture($event)"
    (close)="modal.dismiss()">
  </new-picture-component>
</ng-template>

<ng-template #resizeModal let-modal>
  <config-component [picture]="picture" 
    (resizeCanvas)="applyResize($event)"
    (close)="modal.dismiss()">
  </config-component>
</ng-template>
