.color-picker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
}

.sv-hue-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hue-canvas {
  margin-left: 10px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.selected-color {
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
