<div class="color-picker">
  <div class="sv-hue-container">
    <!-- Cor atual e Opacidade -->
    <div class="controls">
      <div class="selected-color" [style.background]="selectedColor"></div>
    </div>
    <!-- Saturation / Value canvas -->
    <canvas
      #svCanvas
      width="200"
      height="150"
      (click)="onSVSelect($event)"
    ></canvas>

    <!-- Hue bar (vertical) -->
    <canvas
      #hueCanvas
      class="hue-canvas"
      width="20"
      height="150"
      (click)="onHueSelect($event)"
    ></canvas>
  </div>
</div>
