<div class="color-picker">
  <div class="sv-hue-container">
    <!-- Cor atual e Opacidade -->
    <div class="controls">
      <div class="selected-color" 
        [class.active]="activeColorSlot == 'primary'"
        [style.background]="primaryColor"
        (click)="emitUpdateActiveColor('primary')">
      </div>
      <div class="selected-color" 
        [class.active]="activeColorSlot == 'secondary'"
        [style.background]="secondaryColor"
        (click)="emitUpdateActiveColor('secondary')">
      </div>
    </div>
    <!-- Saturation / Value canvas -->
    <canvas
      #svCanvas
      class="colors-canvas"
      width="200"
      height="150"
      (click)="onSVSelect($event)"
    ></canvas>

    <!-- Hue bar (vertical) -->
    <canvas
      #hueCanvas
      class="hue-canvas"
      width="20"
      height="150"
      (click)="onHueSelect($event)"
    ></canvas>
  </div>
</div>
