<div class="tools-box">
  <div class="tbox-tittle">
    Camadas 
    <button class="btn btn-sm ms-auto" (click)="createLayer()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  @for (layer of layers.slice().reverse(); track layer.id; let i = $index) {
    <div class="layer-item"
        [class.active]="layer.id === activeLayerId"
        (click)="setActiveLayer(layer.id)">
      <button class="btn btn-sm" (click)="toggleLayer(layer.id)">
        <fa-icon [icon]="layer.visible ? faEye : faBan"></fa-icon>
      </button>
      <div (dblclick)="openModal(optLayerModal, layer)">{{ layer.name }}</div>
    </div>
  }
  <div class="tbox-footer">
      <button class="btn btn-sm ms-auto" (click)="removeLayer(activeLayerId)" [ngbTooltip]="'Apagar camada'">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
  </div>
</div>

<ng-template #optLayerModal let-modal>
  <div class="modal-header py-2">
    <h5 class="modal-title">Propriedades</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismess()"></button>
  </div>
  <div class="modal-body">
    <form class="d-flex flex-column gap-3">
      <div class="form-group">
        <label for="canvasWidth">Nome:</label>
        <input
          type="text"
          id="drawName"
          class="form-control form-control-sm"
          [(ngModel)]="newName"
          name="drawName"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="modal.dismiss()">Cancelar</button>
    <button class="btn btn-sm btn-primary" (click)="changeLayerOpts(); modal.dismiss()">
      <fa-icon [icon]="faSave"></fa-icon> Salvar
    </button>
  </div>
</ng-template>